.Board {
    display: grid;
    grid-template-columns: 100px 1fr 250px;
    height: 80%;
    width: 100%;
}
.BoardWrapper{
  justify-content: center;
  /* margin-top: auto; */
  margin-bottom: auto;
}
.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";
    width: 50vw;
    height: 50vw;
}
@media only screen and (min-width: 1300px) {
  .Board {
    grid-template-columns: 300px 1fr 800px;
    height: 80%;
    width: 100%;
}

  .Container {
      width: 37vw;
      height: 37vw;
  }
}